.hero-section {
  position: relative;
  background: url("https://cdn.pixabay.com/photo/2019/03/11/17/43/bali-4040631_1280.jpg")
    center center/cover no-repeat;
  height: 100vh;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
